body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.cabeçalho {
  background-color: #237d9e;
  height: 105px;
  width: 100%;
  color: #3db7ad;
  display: flex;
  justify-content: right;
  opacity: 1;
  align-items: center;
  border-radius: 10px;
}

.opções {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #57fce8;
  transition: background-color 0.3s, color 0.3s;
}

.opções-hover {
  color: #ffffff;
}

.menu-container {
  display: flex;
  align-items: center;
  margin-top: 25px;
  justify-content: space-between;
  width: 80%;
}

.menu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-opções {
  border-radius: 5px;
  border-color: #38aa9c;
  border-style: solid;
  padding: 10px;
  border-radius: 20px;
  color: #38aa9c;
  cursor: pointer;
  transition: transform 0.3s;
}

.menu-opções-hover {
  transform: scale(1.1);
}

.button-pesquisar {
  border-radius: 100%;
  border-color: #38aa9c;
  border-style: solid;
  height: 35px;
  width: 35px;
}

.foto-inicio {
  width: 80%;
  margin-top: 10px;
}

.foto-inicio img {
  max-width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.sobre {
  display: flex;
  width: 80%;
  height: 389px;
  justify-content: space-evenly;
  margin-top: 40px;
}

.foto-sobre {
  width: 50%;
}

.foto-sobre img {
  max-width: 100%;
  object-fit: cover;
}

.texto-sobre {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 100px;
  color: #2a8ca2;
}

.titulo-sobre {
  font-size: 30px;
  font-weight: 700;
}

.descrição {
  color: #868686;
  margin-top: 30px;
}

.button-seta {
  background-color: #2a8ca2;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  margin-top: 25px;
}

.button-seta img {
  width: 100%;
}

.bloco-acqua {
  display: flex;
  width: 80%;
  justify-content: space-around;
  height: 389px;
}

.acqua {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.text-acqua {
  margin-left: 30px;
}

.titulo {
  color: #38aa9c;
}

.titulo-destaque {
  font-size: 30px;
  font-weight: 700;
}

.text-descrição {
  margin-top: 10px;
  width: 70%;
}

.text-button {
  display: flex;
}

.button-seta-acqua {
  background-color: #2a8ca2;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 100%;
}

.button-seta-acqua img {
  width: 100%;
}

.seção-mapa {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  height: 704px;
  background: transparent
    linear-gradient(180deg, #237d9e 0%, #35a6a9 45%, #237d9e 100%) 0% 0%
    no-repeat padding-box;
}

.mapa {
  display: flex;
  align-items: center;
  width: 50%;
}

.mapa img {
  width: 100%;
}

.mapa-descrição {
  display: flex;
  flex-direction: column;
  width: 50%;
  color: #ffffff;
  margin-left: 40px;
  margin-top: 70px;
  margin-right: 70px;
}

.titulo-texto-mapa {
  font-size: 30px;
  font-weight: 700;
}

.info-mapa {
  display: flex;
  margin-top: 50px;
}

.info-numero {
  background-color: #ffffff;
  color: #2a8ca2;
  height: 50px;
  width: 60px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 700;
}

.info-texto {
  margin-left: 20px;
}

.contato {
  display: flex;
  height: 500px;
  margin-top: 50px;
  width: 80%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 25%;
  background: #38aa9c 0% 0% no-repeat padding-box;
  padding: 15px;
  color: #ffffff;
  border-radius: 20px;
  justify-content: center;
}

.texto-grande {
  font-size: 30px;
  font-weight: 700;
}

.form input,
select,
textarea {
  background-color: transparent;
  border-color: #ffffff;
  padding: 10px;
  margin-top: 10px;
  color: #ffffff;
  border-radius: 20px;
  border: solid;
  border-width: 1px;
}

.form input::placeholder,
.form select::placeholder,
.form textarea::placeholder {
  color: #ffffff;
}

.form button {
  background-color: #ffffff;
  margin-top: 5px;
  border-radius: 15px;
  padding: 10px;
  color: #2a8ca2;
  display: flex;
  justify-content: left;
  border: none;
}

.btn-privacidade {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.texto-privacidade {
  font-size: 15px;
  margin-left: 20px;
}

.endereço {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.end-texto {
  margin-left: 20px;
  margin-top: 10px;
  color: #868686;
}

.endereço img {
  margin-top: 60px;
}

.end-container {
  display: flex;
}

.end {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.end-titulo {
  color: #2a8ca2;
  font-weight: 800;
}

.end-descrição {
  color: #868686;
}

.outros-contato {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-top: 40px;
  align-items: end;
  color: #2a8ca2;
}

.outros-contato button {
  border: solid;
  border-width: 1px;
  border-color: #38aa9c;
  background-color: transparent;
  padding: 10px;
  width: 300px;
  margin-top: 10px;
  border-radius: 20px;
  color: #2a8ca2;
}

.telefones {
  margin-top: 40px;
}

.ultimas-noticias {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.noticias-titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #2a8ca2;
  margin-top: 50px;
}

.container-noticias {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

.noticias-descrição {
  display: flex;
  flex-direction: column;
  color: #2a8ca2;
}

.container-noticias img {
  width: 100%;
  margin-bottom: 10px;
}

.texto-descrição-noticias {
  color: #868686;
  margin-top: 10px;
}

.noticias-descrição button {
  color: #38aa9c;
  background-color: transparent;
  border: solid;
  border-color: #2a8ca2;
  border-radius: 20px;
  width: 100px;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.fundo {
  width: 100%;
  height: 400px;
  background: transparent linear-gradient(180deg, #3db7ad 0%, #1c554e 100%) 0%
    0% no-repeat padding-box;
}
