body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.cabeçalho {
  background-color: #237d9e;
  height: 105px;
  width: 100%;
  color: #3db7ad;
  display: flex;
  justify-content: right;
  opacity: 1;
  align-items: center;
  border-radius: 10px;
}

.opções {
  margin-left: 10px;
  margin-right: 10px;
}

.menu-container {
  display: flex;
  align-items: center;
  margin-top: 25px;
  justify-content: space-between;
  width: 80%;
}

.menu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-opções {
  border-radius: 5px;
  border-color: #38aa9c;
  border-style: solid;
  padding: 10px;
  border-radius: 20px;
  color: #38aa9c;
}

.button-pesquisar {
  border-radius: 100%;
  border-color: #38aa9c;
  border-style: solid;
  height: 35px;
  width: 35px;
}

.foto-inicio {
  width: 80%;
  margin-top: 10px;
}

.foto-inicio img {
  max-width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.sobre {
  display: flex;
  width: 80%;
  height: 389px;
  justify-content: space-evenly;
  margin-top: 40px;
}

.foto-sobre {
  width: 50%;
}

.foto-sobre img {
  max-width: 100%;
  object-fit: cover;
}

.texto-sobre {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 100px;
  color: #2a8ca2;
}

.titulo {
  font-size: 30px;
  font-weight: 700;
}

.descrição {
  color: #868686;
  margin-top: 30px;
}

.button-seta {
  background-color: #2a8ca2;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  margin-top: 25px;
}

.button-seta img {
  width: 100%;
}
